linmos.names                = {{ LINMOS_NAMES }}
linmos.weights              = {{ LINMOS_WEIGHTS }}
linmos.imagetype            = {{ LINMOS_IMAGE_TYPE }}
linmos.outname              = {{ LINMOS_OUTNAME }}
linmos.outweight            = {{ LINMOS_OUTWEIGHT }}
linmos.weighttype           = {{ LINMOS_WEIGHT_TYPE }}
linmos.weightstate          = {{ LINMOS_WEIGHT_STATE }}
linmos.psfref               = {{ LINMOS_PSFREF }}
linmos.imageaccess          = {{ LINMOS_IMAGE_ACCESS }}
linmos.imageaccess.axis     = {{ LINMOS_IMAGE_ACCESS_AXIS }}
linmos.imageaccess.order    = {{ LINMOS_IMAGE_ACCESS_ORDER }}
linmos.imageaccess.write    = {{ LINMOS_IMAGE_ACCESS_WRITE }}