[SoFiAX]
db_hostname = {{ db_hostname }}
db_name = {{ db_name }}
db_username = {{ db_username }}
db_password = {{ db_password }}
db_schema = {{ db_schema }}
db_port = {{ db_port }}

sofia_execute = 0
sofia_path = /usr/local/bin/sofia
sofia_processes = 24

run_name = {{ run_name }}
spatial_extent = 70,70
spectral_extent = 70,70
flux = 30
uncertainty_sigma = 5
