linmos.names                = [image.restored.SB400.cube.contsub.fits,image.restored.SB500.cube.contsub.fits]
linmos.weights              = [weights.SB100.cube,weights.SB200.cube]
linmos.imagetype            = fits
linmos.outname              = mosaicked
linmos.outweight            = mosaicked.weights
linmos.weighttype           = FromWeightImages
linmos.weightstate          = Corrected
linmos.psfref               = 0
linmos.imageaccess          = collective
linmos.imageaccess.axis     = 3
linmos.imageaccess.order    = distributed
linmos.imageaccess.write    = parallel