linmos.names                = {{ LINMOS_NAMES }}
linmos.weights              = {{ LINMOS_WEIGHTS }}
linmos.imagetype            = {{ LINMOS_IMAGETYPE }}
linmos.outname              = {{ LINMOS_OUTNAME }}
linmos.outweight            = {{ LINMOS_OUTWEIGHT }}
linmos.weighttype           = {{ LINMOS_WEIGHTTYPE }}
linmos.weightstate          = {{ LINMOS_WEIGHTSTATE }}
linmos.psfref               = {{ LINMOS_PSFREF }}
linmos.imageaccess          = {{ LINMOS_IMAGEACCESS }}
linmos.imageaccess.axis     = {{ LINMOS_IMAGEACCESS_AXIS }}
linmos.imageaccess.order    = {{ LINMOS_IMAGEACCESS_ORDER }}
linmos.imageaccess.write    = {{ LINMOS_IMAGEACCESS_WRITE }}