params {
    // Pipeline components (this repository)
    AUSSRC_PIPELINE_COMPONENTS_IMAGE = "aussrc/pipeline_components:v0.1.0"
    AUSSRC_PIPELINE_COMPONENTS_CASA_IMAGE = "aussrc/pipeline_components_casa:v0.1.0"

    // Shared
    OBSERVATION_METADATA_IMAGE = "aussrc/observation_metadata:latest"

    // Mosaicking
    ASKAPSOFT_IMAGE = "csirocass/askapsoft:1.23.1-mpich"

    // Source finding
    S2P_SETUP_IMAGE = "aussrc/s2p_setup:v0.4.0"
    SOFIAX_IMAGE = "aussrc/sofiax:v1.0.0"
    SOFIA_IMAGE = "sofiapipeline/sofia2:latest"
    GET_DSS_IMAGE = "aussrc/dss_image:latest"

    // WALLABY
    WALLABY_COMPONENTS_IMAGE = "aussrc/wallaby_scripts:latest"

    // DINGO
    GAMA_IMAGE = "aussrc/dingo_validate"

    // POSSUM
    IONOSPHERIC_CORRECTION_IMAGE = "aussrc/frion:latest"
}
