params {
    // Shared
    CASDA_DOWNLOAD_IMAGE = "aussrc/casda_download:v1.0.3"
    OBSERVATION_METADATA_IMAGE = "aussrc/observation_metadata:latest"
    METADATA_IMAGE = "aussrc/metadata_tools:latest"
    PIPELINE_PLOTS_IMAGE = "aussrc/pipeline_plots:v1.0.5"

    // Mosaicking
    UPDATE_LINMOS_CONFIG_IMAGE = "aussrc/update_linmos_config:latest"
    LINMOS_IMAGE = "csirocass/askapsoft:1.23.1-mpich"
    LINMOS_IMAGE_NAME = "csirocass-askapsoft-1.23.1-mpich"

    // Source finding
    S2P_SETUP_IMAGE = "aussrc/s2p_setup:v0.4.0"
    UPDATE_SOFIAX_CONFIG_IMAGE = "aussrc/update_sofiax_config:latest"
    SOFIAX_IMAGE = "aussrc/sofiax:v1.0.0"
    SOFIA_IMAGE = "sofiapipeline/sofia2:latest"
    WALLMERGE_IMAGE = "aussrc/wallmerge:v0.1.0"
    GET_DSS_IMAGE = "aussrc/dss_image:latest"

    // WALLABY
    WALLABY_COMPONENTS_IMAGE = "aussrc/wallaby_scripts:latest"

    // DINGO
    GAMA_IMAGE = "aussrc/dingo_validate"

    // POSSUM
    IONOSPHERIC_CORRECTION_IMAGE = "aussrc/frion:latest"
    HPX_TILING_IMAGE = "aussrc/hpx_tiles:v1.1.0"
}
