profiles {
    setonix {
        process {
            executor = 'local'
            module = 'singularity/4.1.0-slurm'
            beforeScript = """. /opt/cray/pe/lmod/lmod/init/bash"""
        }

        params {
            SCRATCH_ROOT = "/scratch"
            SINGULARITY_CACHEDIR = "/scratch/ja3/ashen/singularity"
        }

        singularity {
            enabled = true
            cacheDir = params.SINGULARITY_CACHEDIR
            envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
            runOptions = "--rocm"
        }

        docker.enabled = false
    }
}
